@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  background: #9cc3ef;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}

::-webkit-scrollbar-button {
  height: 10px;
}

.custom-drawer .ant-drawer-header {
  background-color: #1a1a1a;
  color: #f0f0f0;
  display: flex;
  flex-direction: row-reverse;
}

.custom-drawer .ant-drawer-body {
  background-color: #121212;
  color: #f0f0f0;
}

@keyframes mainAnimation {
  from {
    background-size: 110%;
  }
  to {
    background-size: 120%;
  }
}

.custom-card {
  position: relative;
  overflow: hidden;
  color: #086ad8;
}

.custom-card h3,
.custom-card p {
  color: #000;
}
.custom-card:hover button {
  color: #fff !important;
}
.custom-card:hover button:hover {
  color: #000 !important;
}

.custom-card:hover h3,
.custom-card:hover p {
  color: #fff;
}

.custom-card:hover svg {
  color: #fff;
}

.custom-card::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #086ad8;
  transition: 0.3s ease;
  z-index: 1;
}

.custom-card:hover::before {
  bottom: 0;
  color: #fff;
}

.mask-bg-iconbox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: #020101;
  opacity: 0.15;
}

.custom-second-card {
  position: relative;
  overflow: hidden;
}

.custom-second-card h3,
.custom-second-card p {
  color: #000;
}

.custom-second-card:hover button {
  color: #fff !important;
}

.custom-second-card:hover button:hover {
  color: #000 !important;
}

.custom-second-card:hover h2,
.custom-second-card:hover p {
  color: #fff;
}

.custom-second-card:hover svg {
  color: #fff;
}

.custom-second-card::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #086ad8;
  transition: 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  color: #fff;
}

.custom-second-card:hover::before {
  top: 0;
  color: #fff;
}

.custom-second-button {
  background-color: #086ad8;
}

.custom-second-card:hover .custom-second-button {
  background-color: #d2a98e;
}
